doctype html
html(lang='en')
  head
    include dependencies/head.html
    include partials/header.html
  body
    include partials/nav.html
    .container.app-container
      .col-md-8
        block content
      .col-md-4
        block sidebar

    include dependencies/libs.html
