doctype html
html(lang='en')
  head
    include dependencies/head.html
  body.container.app-container
    include partials/nav.html
    block content
  
    include partials/footer.html
    include dependencies/libs.html
