<!DOCTYPE html>
<html>
    <head>
        <%include partials/pb-head.ejs %>
    </head>

<body>
    <%include partials/pb-nav.ejs %>

    <main>
        <button class = "btn btn-primary">Test</button>
    </main>

    <footer>
        <%include partials/pb-footer.ejs%>
    </footer>


    <!--Libs-->

    <%include partials/pb-libs.ejs%>


</body>




</html>