doctype html
html(lang='en')
  head
    include dependencies/head.html
  body.container
    include partials/nav.html
    block content
    include dependencies/libs.html
  
    include partials/footer.html
