doctype html
html(lang='en')
  head
    include dependencies/head.html
  body.container.container-main
    include partials/nav.html
    block content
    include dependencies/libs.html

  footer.nav.navbar-static-bottom
    include partials/footer.html
