.navbar {
    color: #fff;
    background: #292929 !important;
    height: 50px;
    border-color: #606060;
}
.navbar-inverse .navbar-nav > .active > a{
    background: #233146;
}

.btn-nav-logout, .btn-nav-profile, .btn-nav-login, .btn-nav-register, .btn-nav-home  {
    cursor: pointer;
}
