<section>
    <div class="container container-main">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 container-login">
                <h2 class="text-center title-login">Login</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control input-lg input-login" id="login-email" type="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control input-lg input-login" id="login-password" type="password">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary input-lg btn-login">Login</button>
                        <p class = "text-center sign-up-text">Don't have an account? Sign up <span><a href = "/register">here!</a></span></p>
                        <p class="text-center register-error"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>