<section>
    <div class="container container-main">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 container-login">
                <h2 class="text-center title-register">Register</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control input-lg input-register" id="register-username" type="text">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control input-lg input-register" id="register-email" type="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control input-lg input-register" id="register-password" type="password">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary input-lg btn-register">Register</button>
                        <p class="text-center register-error"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </footer>

</section>

<script src="../../../public/bower_components/jQuery/dist/jquery.js"></script>
<script src="../../../public/bower_components/underscore/underscore.js"></script>
<script src="../../../public/bower_components/backbone/backbone.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
<script src="../../../public/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src = "../../../public/js/models/user.js"></script>
<script src = "../../../public/js/collections/users.js"></script>
<script src = "../../../public/js/views/form.js"></script>