<div class = "container-main upload-container">
    <h1>Upload:</h1>

            <h2>Preview</h2>
            <canvas id="myCanvas" width="400" height="275" style="border:3.5px solid #bfbfbf;">
            </canvas>

    <div class = "ui-controls">
        <button type = "button" class = "btn btn-success">Play</button>
        <button type = "button" class = "btn btn-danger">Pause</button>
        <button type = "button" class = "btn btn-warning">Previous</button>
        <button type = "button" class = "btn btn-warning">Next</button>
        <button type = "button" class = "btn btn-info">Choose File</button>
    </div>


</div>

