<section id = "usersidebar container-main">
    <div class = "col-lg-6 animation-form">
        <form class="form-horizontal">
            <div class="form-group">
                <label>Animation Name</label>
                <input class="form-control " id="upload-name" type="text">
                <label>General Category</label>
                <select class="form-control">
                    <option value="one">2D</option>
                    <option value="two">3D</option>
                    <option value="three">Pixels</option>
                    <option value="four">Claymation</option>
                </select>
                <label>Specific Category</label>
                <select class="form-control">
                    <option value="one">Characters</option>
                    <option value="two">Objects</option>
                    <option value="three">Inanimate</option>
                    <option value="four">Animals</option>
                </select>
            </div>
            <div class = "form-group">
                <label>Width</label>
                <input class = "form-control input-sm" id = "upload-width" type = "number">
                <label>Height</label>
                <input class = "form-control input-sm" id = "upload-Height" type = "number">
                <label>Default Frames Per Second</label>
                <div class="radio">
                    <label><input type="radio" name="optradio">10 FPS</label>
                    <label><input type="radio" name="optradio">24 FPS</label>
                    <label><input type="radio" name="optradio">30 FPS</label>
                    <label><input type="radio" name="optradio">60 FPS</label>
                </div>

            </div>
            <button class = "btn btn-primary submit-button" type = "submit">Submit</button>

        </form>

    </div>
</section>