doctype html
html(lang='en')
  head
    include ../dependencies/meta.html
    include ../dependencies/stylesheets.html
    include ../partials/_header.html
  body.app-container
    include ../partials/_navbar.html
    .container
      .row
      .col-md-8
        block content
      .col-md-4
        block sidebar
    include ../client-templates/all
    include ../dependencies/javascripts.html
