doctype html
html(lang='en')
  head
    include dependencies/head.html
    include partials/header.html
  body.app-container
    include partials/nav.html
    .container
      .row
      .col-md-12
        block auth

    include dependencies/libs.html