<script src = "./../../js/lib/jquery.js"></script>
<script src = "./../../js/lib/underscore.js"></script>
<script src = "./../../js/lib/backbone.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
<script src = "./../../js/lib/bootstrap.js"></script>
<script src = "./../../js/lib/wow.js"></script>
<script src = "./../../js/models/user.js"></script>
<script src = "./../../js/collections/users.js"></script>
<script src = "./../../js/views/app.Auth.js"></script>
<script src = "./../../js/routers/router.js"></script>
<script src = "./../../js/main.js"></script>
<script src = "./../../js/animation.js"></script>
<script src = "./../../js/board.js"></script>
