<!--Libs-->
<script src="../../../public/bower_components/jQuery/dist/jquery.js"></script>
<script src="../../../public/bower_components/underscore/underscore.js"></script>
<script src="../../../public/bower_components/backbone/backbone.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
<script src="../../../public/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src = "../../../public/js/models/user.js"></script>
<script src = "../../../public/js/collections/users.js"></script>
<script src = "../../../public/js/views/form.js"></script>
<script src = "../../../public/js/views/app.js"></script>
<script src = "../../../public/js/main.js"></script>