<section id = "section-sidebar">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Popular</h3>
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum ut odio eu
                venenatis. Sed efficitur vulputate urna eu egestas. Ut eget egestas nisi. Vivamus hendrerit
                nisl est. In auctor tincidunt massa, et interdum enim rutrum id.</p>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Recently Uploaded</h3>
        </div>
        <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum ut odio eu
                    venenatis. Sed efficitur vulputate urna eu egestas. Ut eget egestas nisi. Vivamus hendrerit
                    nisl est. In auctor tincidunt massa, et interdum enim rutrum id.</p>

        </div>
    </div>
</section>