<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Poseboards</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/browse">Browse</a></li>
                <li><a href="#submit">Submit</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a id="user-nav"><i class = "glyphicon glyphicon-user"></i> Login / Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<script>
    console.log("Registering nav.html")
</script>


<script src="../../../public/bower_components/jQuery/dist/jquery.js"></script>
<script src="../../../public/bower_components/underscore/underscore.js"></script>
<script src="../../../public/bower_components/backbone/backbone.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.min.js"></script>
<script src="../../../public/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src = "../../../public/js/models/user.js"></script>
<script src = "../../../public/js/collections/users.js"></script>
<script src = "../../../public/js/views/form.js"></script>